{% extends 'web/base.html' %}

{% block style %}
    {{ block.super }}

    .box-outline{
        padding: 0px 0px 0px 0px;
        border:  1px 1px 1px 1px;
    }
{% endblock %}

{% block page_body %}
    <p class="lead">Please select the checkboxes next to the item that you wouild like to order.</p>

    <div class="row">
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-uppercase">Food</th>
                            <th class="text-uppercase text-right">Price</th>
                            <th class="text-uppercase text-right">Qty</th>
                            <th class="text-uppercase text-center">Add / Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td class="text-right">$ {{ product.unit_price }}</td>
                            <td class="text-right"><input type="text" size="3" maxlength="2" value="1" class="text-center" id="qty_{{product.id}}"></td>
                            <td class="text-center"><input type="checkbox" id="checkbox_{{product.id}}" onchange="update_cart( {{product.id}} );"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div id="result"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    var api = function(url){
        $.ajax({
            method: "GET",
            url: url
        })
        .done(function(response){
            $("#result").text = response.payloads[0].message;
        })
        .fail(function(error){
            $("#result").text = error.payloads[0].message;
        });
    };

    function update_cart(productId){
        if( $("#checkbox_" + productId).is(":checked") )
            api("/web/api/update-cart/" + productId + "/" + $("#qty_"+productId).val());
        else
            api("/web/api/remove-from-cart/" + productId);
    }
{% endblock %}