{% extends 'web/base.html' %}

{% block page_body %}
    <p class="lead">Please select the checkboxes next to the item that you wouild like to order.</p>
    
    <div class="row">
        <div class="col-md-6">
            Food
        </div>
        <div class="col-md-2">
            Price
        </div>
        <div class="col-md-2">
            Quantity
        </div>
        <div class="col-md-2">
            Add
        </div>
        {% for product in products %}
            <div class="col-md-6">
                {{ product_0 }}
            </div>
            <div class="col-md-2">
                {{ product.unit_price }}
            </div>
            <div class="col-md-2">
                {{ product.unit_price }}
            </div>
            <div class="col-md-2">
                <input type="checkbox" onchange="alert('changed');">
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock %}