{% extends 'web/base.html' %}
{% load humanize %}

{% block page_body %}
    <div class="row">
    {% if cart %}
        <div class="lead">Review your items for each child</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Child</th>
                        <th>For Date</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    <tr>
                        <td>{{item.child_name}}</td>
                        <td>{{item.for_date}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.quantity}}</td>
                        <td>$ {{item.total|floatformat:"2"|intcomma}}</td>
                        <td><a class="btn btn-info"
                            href="{% url 'ol:remove-from-cart' child_id=item.child_id product_id=item.id for_date=item.for_date %}"
                            role="button">Remove</a></td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="6">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                        <td>Total:</td>
                        <td>$ {{cart_total|floatformat:"2"|intcomma}}</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="lead">Your cart is empty.</div>
        <p>Go to <a href="{% url 'ol:order' %}">order</a> page to order your items.</p>
    {% endif %}
    </div>
{% endblock %}