{% extends 'web/base.html' %}
{% load humanize %}

{% block page_body %}
<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <div>
            Currently you can only pay by check. We are working on adding other payment methods.
        </div>
        <div>&nbsp;</div>
        <div>
            {% if not is_membership_paid %}
                Our record indicates that you have not paid your membership fee yet for this year.
                Because this is the first time you are ordering using our system, a membership
                fee of $1.00 has been added to your total order.
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="product text-center">
            <h2 class="text-primary">Your Total</h2>
            <h2>$ {{ order_total_with_membership_fee|floatformat:"2"|intcomma }}</h2>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="lead">Payment Breakdown</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Charge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Order Total</td>
                        <td>$ {{ order_total|floatformat:"2"|intcomma }}</td>
                    </tr>
                    {% if not is_membership_paid %}
                    <tr>
                        <td>Membership Fee</td>
                        <td>$ 1.00</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Total Charge</td>
                        <td>$ {{ order_total_with_membership_fee|floatformat:"2"|intcomma }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="lead">Check Number</div>
        <div>Please enter the check number that you will use to make this payment</div>
        <div>&nbsp;</div>
        <div>
            <label for="id_checkNo">
                <input id="id_checkNo" type="number" placeholder="Enter Check No." autofocus="autofocus" required="required" class="form-control text-center">
            </label>
        </div>
        <div>&nbsp;</div>
        <div>
            <a href="javascript:confirmPayment()" id="id_paymentConfirmationButton" class="btn btn-lg btn-primary">Confirm Payment</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="lead">Note</div>
        <div id="id_note">
            You must click the "<span class="text-primary">Confirm Payment</span>"
            button to finalize your order, after insering a check number.
        </div>
    </div>
</div>
{% endblock %}