{% extends 'web/base.html' %}
{% load widget_tweaks %}

{% block page_body %}
    <h3>Title</h3>
    <p>
        Other than the docto's info, please complete the entire form. These information are necessary
        to get in touch with you in case of emergency.
    </p>

    <div id="register">
        {% if user_form.errors or parent_profile_form.errors or child_form.errors %}
            <div class="row">
                <div class="col-md-12 error_title">ERROR</div>
                <div class="col-md-12 error_list">
                    {{ user_form.errors }}
                    {{ parent_profile_form.errors }}
                    {{ child_form.errors }}
                </div>
            </div>
            <div>&nbsp;</div>
        {% endif %}

        <form class="form-horizontal" name="RegistrationForm" action="{% url 'ol:register-parent' %}" method="post">
            {% csrf_token %}
            <div class="row">
                {# ACCESS INFO #}
                <div class="col-md-6">
                    <p class="lead">Access Info</p>
                    <div class="control-group">
                        <label class="sr-only" for="id_username">Username</label>
                        <div class="control">
                            {{ user_form.username|attr:"placeholder:Username"|attr:"class:form-control"|attr:"autofocus:''" }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="sr-only" for="id_password">Password</label>
                        <div class="control">
                            {{ user_form.password|attr:"type:password"|attr:"placeholder:Password"|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="sr-only" for="id_password_again">Password (again)</label>
                        <div class="control">
                            {{ user_form.password_again|attr:"placeholder:Password (again)"|attr:"class:form-control" }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="lead">Parent's Info</p>
                    <div class="control-group">
                        <label class="sr-only" for="id_username">First Name</label>
                        <div class="control">
                            {{ user_form.first_name|attr:"placeholder:First Name"|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="sr-only" for="id_username">Last Name</label>
                        <div class="control">
                            {{ user_form.last_name|attr:"placeholder:Last Name"|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="sr-only" for="id_email">Email</label>
                        <div class="control">
                            {{ user_form.email|attr:"placeholder:Email"|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="sr-only" for="id_cell_phone">Cell Phone</label>
                        <div class="control">
                            {{ parent_profile_form.cell_phone|attr:"placeholder:Cell Phone (xxx-xxx-xxxx)"|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="sr-only" for="id_home_phone">Home Phone</label>
                        <div class="control">
                            {{ parent_profile_form.home_phone|attr:"placeholder:Home Phone (xxx-xxx-xxxx)"|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="sr-only" for="id_work_phone">Work Phone</label>
                        <div class="control">
                            {{ parent_profile_form.work_phone|attr:"placeholder:Work Phone (xxx-xxx-xxxx)"|attr:"class:form-control" }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12">
                    <p class="lead">Child's Info</p>
                    {# First Child's Info #}
                    <div class="row">
                        <div class="col-md-3">
                            <label class="sr-only" for="id_child_form-first_name">First Name</label>
                            <div class="control">
                                {{ child_form.first_name|attr:"placeholder:First Name"|attr:"class:form-control" }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="sr-only" for="id_child_form-middle_name">Middle Name</label>
                            <div class="control">
                                {{ child_form.middle_name|attr:"placeholder:Middle Name"|attr:"class:form-control" }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="sr-only" for="id_child_form-last_name">Last Name</label>
                            <div class="control">
                                {{ child_form.last_name|attr:"placeholder:Last Name"|attr:"class:form-control" }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12">
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                        </div>
                    </div>
                </div>
            </div> {# div:row #}
        </form>
    </div>

{% endblock %}